{% extends 'blog/base.html' %}


{% block content %}

<div class="listing container">


{% for post in posts %}
<div class="content-section row">
            <div class="col-1">
            <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png"
         class="user-image">
                </div>
    <div class="col-11">
        <div class="article-metadata">
            <a  href="">{{post.user}}</a>
            <small class=" text-muted">{{ post.created }}</small>
        </div>

        <a class="article-title " href="{% url 'post_detail' pk=post.pk %}"><h1>{{ post.title }}</h1></a>
            <p class="article-content">{{ post.text }}</p>
    </div>
    <div class="comment-section">
        <div class="like-count{{ post.id }}">{{ post.number_of_likes }}</div>
        <form action="{% url 'post_likes' %}" method="POST" class="like-form" id="{{ post.id }}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit" name="post_id" value="{{ post.id }}" class='btn btn-outline-primary like-btn{{post.id}}'>
                {% if profile not in post.likes.all %}
                    <text class="thumbs-down" >Like</text><i class="thumbs-down fas fa-thumbs-up"></i>
                {% else %}
                    Unlike<i class="thumbs-up fas fa-thumbs-up"></i>
                {% endif %}

            </button>
        </form>
    </div>
</div>



{% endfor %}

</div>
{% endblock %}


{% block scripts %}
<script>
    $( document ).ready(function() {
         let display = false
            $('.like-form').submit(function(e){
                e.preventDefault()

                const post_id = $(this).attr('id')

                const likeTest = $(`.like-btn${post_id}`).text()

                const trim = $.trim(likeTest)
                console.log(trim)
                const url = $(this).attr('action')

                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                         'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                         'post_id': post_id,
                    },
                    success: function(response) {
                        if(trim == 'Unlike') {
                            $(`.like-btn${post_id}`).text('Like').css({"color": "black" });
                            $(`.like-btn${post_id}`).append('<i class="fas fa-thumbs-up"></i>')

                            res = trimCount - 1
                        } else {
                            $(`.like-btn${post_id}`).text('Unlike').css({"color": "blue"});
                            $(`.like-btn${post_id}`).append('<i class=" fas fa-thumbs-up"></i>')

                            res = trimCount + 1
                        }

                        $(`.like-count${post_id}`).text(res)
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
    })
 });
</script>
{% endblock scripts %}







