{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="listing container">


{% for post in posts %}

<div class="content-section row">
            <div class="col-12 comment-sectionas">
            <a href="{% url 'users_posts' users_id=post.user.id %}">
                <img src="{{ post.user.userprofile.user_image.url }}" class="user-image">
            </a>



            <a  href="{% url 'users_posts' users_id=post.user.id %}">{{post.user}}</a>
            <small class=" text-muted">{{ post.published }}</small>

</div>
<div class="col-12 comment-sections">
        <a class="article-title " href="{% url 'post_detail' pk=post.pk %}"><h1>{{ post.title }}</h1></a>
            <p class="article-content">{{ post.text|truncatechars:400 }}
                {% if post.post_length > 400 %}<a href="{% url 'post_detail' pk=post.pk %}">(more)</a>{% endif %}
            </p>
    </div>

    <div class="col-6 comment-sections">
        <a class="margins-l" href="{% url 'post_detail' pk=post.pk %}#comments_post " >comments ({{ post.num_comments }})</a>
    </div>
    <div class="col-6 comment-sections">
        {% if post.number_of_likes == 1 %}
            <div class="margins-c like-count{{ post.id }}">{{ post.number_of_likes }} like</div>
        {% else %}
            <div class="margins-c like-count{{ post.id }}">{{ post.number_of_likes }} likes</div>
        {% endif %}
    </div>
    <div class="col-12 comment-sections">
        {% if user.is_authenticated %}

                    <form action="{% url 'post_likes' %}" method="POST" class="like-form" id="{{ post.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <button type="submit" name="post_id" value="{{ post.id }}" class='btn margins-c btn-outline-primary like-btn{{post.id}}'>

                            {% if profile not in post.likes.all %}
                            <text class="thumbs-down" >Like</text><i class="thumbs-down fas fa-thumbs-up"></i>
                        {% else %}
                            <text>Unlike</text><i class="thumbs-up fas fa-thumbs-up"></i>
                        {% endif %}
                        </button>

                    </form>
        <button class="cmt_btn margins-l btn btn-outline-secondary">comment</button>
                {% endif %}


        <div class="comment-box">
            <div class="col-12 comment-sections">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button type="submit" class=" margins-cs btn btn-primary">Send</button>
                {{ p_form|crispy }}

            </form>
        </div>
            </div>

    </div>

</div>



{% endfor %}

</div>
{% endblock %}


{% block scripts %}
<script>
    $( document ).ready(function() {
         let display = false
         $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }
            });

            $('.like-form').submit(function(e){
                e.preventDefault()

                const post_id = $(this).attr('id')

                const likeTest = $(`.like-btn${post_id}`).text()

                const trim = $.trim(likeTest)
                console.log(trim)
                const url = $(this).attr('action')

                let res;
                const likes = $(`.like-count${post_id}`).text()
                const trimCount = parseInt(likes)

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                         'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                         'post_id': post_id,
                    },
                    success: function(response) {
                        if(trim == 'Unlike') {
                            $(`.like-btn${post_id}`).text('Like').css({"color": "black" });
                            $(`.like-btn${post_id}`).append('<i class="fas fa-thumbs-up"></i>')

                            res = trimCount - 1
                        } else {
                            $(`.like-btn${post_id}`).text('Unlike').css({"color": "blue"});
                            $(`.like-btn${post_id}`).append('<i class=" fas fa-thumbs-up"></i>')

                            res = trimCount + 1
                        }
                        if(res == 1) {
                            $(`.like-count${post_id}`).text(res + " " + "like")
                        } else {
                            $(`.like-count${post_id}`).text(res + " " + "likes")
                        }

                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
    })
 });
</script>
{% endblock scripts %}







