{% extends 'blog/base.html' %}


{% block content %}
{% load crispy_forms_tags %}

<div class="listing container">

    <div class="col-sm">
        <div class="article-metadata">
            <a  href="">{{post.user}}</a>
            <small class=" text-muted">{{ post.created }}</small>
        </div>

        <a class="article-title " href="{% url 'post_detail' pk=post.pk %}"><h1>{{ post.title }}</h1></a>
            <p class="article-content">{{ post.text }}</p>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="content-section row">

    <div class="col-12">
        <div class="article-metadata">
            <a  href="">{{post.user}}</a>
            <small class=" text-muted">{{ post.created }}</small>
        </div>

            <p class="article-content">{{ post.text }}</p>
    </div>
</div>
</div>


{% endblock %}

