{% extends 'blog/base.html' %}


{% block content %}


<div class="content-section row">
            <div class="col-1">
            <img src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png"
         class="user-image">
                </div>
    <div class="col-11">
        <div class="article-metadata">
            <a  href="">{{user.username}}</a>
        </div>

        <a class="article-title " href=""><h1></h1></a>
            <p class="article-content">{{ user.email }}</p>
    </div>
</div>






{% endblock %}










